%head{ prefix: 'og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#' }
  = partial 'layouts/shared/head/title'

  = partial 'layouts/shared/head/metatags'

  = partial 'layouts/shared/head/stylesheets'

  = partial 'layouts/shared/head/javascripts'