---
id: "spamy"
class: "default"
title: "Spamy"
---

- content_for :content do
  %h1 Spamy

  - data.andand.emails.each do |email|
    :markdown
      [#{email.title}](mailto:#{email.address} "#{email.title}")